
 * {
     outline: none;
    // outline: 1px solid red; /*  Box outline for dev purposes */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

body, html {
    overflow-X: hidden;
    background-attachment:fixed;
    background: -webkit-radial-gradient(bottom ellipse, #1C2837 0%, #050608 100%);
    background: radial-gradient(ellipse at bottom, #1C2837 0%, #050608 100%); /* This is for the solar system to look good */
}

#app {
    min-height: 100vh;
    transition: all .4s ease-in-out;
}

#not-found {
    text-align: center;
    color: #f1f1f1;
    margin: 15px;

    h1 {
        color: #D32F2F;
        font-weight: 300;
        font-size: 3rem;
        text-transform: uppercase;
    }

    h2 {
        font-weight: 300;
        font-size: 2rem;
        margin: 15px;
    }

    p:not(.button-text) {
        font-weight: 300;
        font-size: 1.1rem;
    }
}

/* Things have to look good man, anything smaller than 300px is just too small. */
#sm_overlay {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    position: absolute;
    background: #fff;
    
    p {
        padding: 10px;
        font-size: .9em;
    }
}

/* Media queries */
@media (max-width: $break-sm) {
    #not-found {
        h1 {
            font-size: 1.9rem;
            white-space: nowrap;
        }

        h2 {
            font-size: 1.4rem;
        }
    }
}

/* Show the overlay and hide anything else to reduce impact in case of viewport<300px */
@media (max-width:300px) {
    #sm_overlay {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
    
    #content-card {
        display: none!important;
    }
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
    position: absolute;
}
 
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: none;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0, .2);
}
