/* Global vars */
$main-color: darken(#CBCFD9, 20%);
$break-s: 20em; /* smartphones, iPhone, portrait 480x320 phones */
$break-sm: 30.063em; /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
$break-m: 40.063em; /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
$break-ml: 60.063em; /* tablet, landscape iPad, lo-res laptops ands desktops */
$break-l: 64.063em; /* big landscape tablets, laptops, and desktops */
$break-ll: 80.063em; /* hi-res laptops and desktops */

/* Social Icon Colors */
$github: #000;
$twitter: #00aced;
$telegram: #54b3e6;

/* Libs and defaults */
@import 'lib/reset';
@import 'lib/fonts';
@import 'lib/utils';

/* General App Style */
@import 'app';

/* UI Components */
@import 'components/atoms/largeButton';
@import 'components/atoms/icons';
@import 'components/atoms/languageButton';

/* Component Styles */
@import 'components/contentCard';
@import 'components/footer';
@import 'components/content/home';
