#language-list {
    position: absolute;
    top: 50px;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    padding: 10px;
    right: 0;
    left: 0;
    width: calc(100% - 20px);
    @include box_shadow(2);
    z-index: 30;
}

#content-title {
    font-size: .8em;
    display: inline-flex;
    margin-right: auto;
    text-transform: initial;
    span {
        white-space: nowrap;
    }
}

.card-header {
    height: 30px;
    border-radius: 2px 2px 0 0;
    background-color: $header-bg;
    position: relative;
    padding: 10px;
    min-height: 20px;
    color: $header-color;
}

