#language-list {
    position: absolute;
    top: 50px;
    background-color: #fff;
    border-radius: 0 0 2px 2px;
    right: 0;
    padding: 5px;
    @include box_shadow(2);
   
    &::before {
        content: "";
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        right: 24px;
        bottom: 100%;
    }

    &.root-selector {
        box-shadow: none;
        left: 0;
        text-align: center;
    }
}

.root-ls-title {
    color: darken($accent-color, 5%);
    font-weight: 300;
    padding: 14px;
    max-width: 400px;
    font-size: 1.7em;
    text-align: center;
    border-bottom: 1px dashed rgba(0,0,0,.1);
}

#content-title {
    font-size: .8em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: auto;
    text-transform: initial;

    span {
        white-space: nowrap;
    }
}
.language-prompt .card-header {
    display: none;
}

.card-header {
    z-index: 30;
    height: 50px;
    border-radius: 2px 2px 0 0;
    background-color: $header-bg;
    position: relative;
    padding: 10px;
    min-height: 20px;
    color: $header-color;
}

/* Media queries */
@media (max-width: $break-sm) {
    .card-header {
        border-radius: 0px;
    }
}

@media (max-height: 420px) {
    .card-header {
        border-radius: 0px;
    }
}
