#content-card {
    display: inline-block;
    border-radius: 2px;
    max-width: 600px;
    width: 100%;
    font-weight: 300;
    @include box_shadow(3);
    overflow: hidden;
    position: relative;
}

#content {
    padding: 15px;
}

#content, #content-card {
    transition: all .5s ease;
}

@media (min-width: $break-sm) {
    #content-card {
        min-height: 358px;
    }
}

@media (max-width: $break-sm) {
    #content-card {
        position: absolute;
        border-radius: 0px;
    }

    #content, #content-card {
        height: 100%;
    }
}

@media (max-height: 420px) {
    #content-card {
        border-radius: 0px;
        max-width: none;
    }

    #content, #content-card {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

@media (max-height: 358px) {
    #content-card {
        position: relative!important;
    }
}
