#content-card {
    display: inline-block;
    border-radius: 4px;
    max-width: 600px;
    width: 100%;
    font-weight: 300;
    @include box_shadow(3);
    overflow: hidden;
    position: relative;
    background: #fff;
}

#content {
    padding: 15px;
    overflow: auto;
}

#content, #content-card {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/* Media queries */
@media (min-width: $break-sm) {
    #content-card {
        min-height: 366px;
    }

    #content {
        max-height: 315px;
    }
}

@media (max-width: $break-sm) {
    #content-card {
        position: absolute;
        border-radius: 0px;
        top: 0;
        left: 0;
    }

    #content, #content-card {
        height: 100%;
    }
}

@media (max-height: 420px) {
    #content-card {
        border-radius: 0px;
        max-width: none;
        top: 0;
        left: 0;
    }

    #content, #content-card {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}

@media (max-height: 366px) {
    #content-card {
        position: relative!important;
    }
}
