#content-card {
    display: inline-block;
    border-radius: 2px;
    max-width: 600px;
    overflow: hidden;
    text-transform: capitalize;
    font-weight: 300;
    padding: 15px;
    @include box_shadow(3);
}

#content {
    margin-top: 15px;
}

.card-header {
    padding: 10px;
    min-height: 20px;
    border-bottom: 1px solid rgba(0,0,0, .1);
    color: #263238;
}
