#footer {
    margin: 15px;
    font-size: .85em;
    color: #f5f5f5;
    z-index: 5;
    
    p {
        text-align: center;
    }

        path {
            fill: #f5f5f5!important;
        }
}

/* Media queries */
@media (max-width: $break-sm) {
    #footer {
        display: none;
    }
}

@media (max-height: 420px) {
    #footer {
        display: none;
    }
}
