#footer {
    margin: 15px;
    font-size: .85em;
    color: $main-color;
    
    p {
        text-align: center;
    }
}

@media (max-width: $break-sm) {
    #footer {
        display: none;
    }
}

@media (max-height: 420px) {
    #footer {
        display: none;
    }
}
