#work, #work-list {
    width: 100%;
}

#work-list {
    padding: 0 0 15px 0;
}

#work-card {
    background: #fff;
    padding: 15px;
    width: 100%;
    position: absolute;
    height: 86%;
}

.list-container {
    margin: 5px 0;
    overflow: overlay;
    max-height: 94%;
    padding: 0 15px;
}

.filter-tool {
    overflow: hidden;
    padding: 5px;
    font-size: .78em;
    justify-content: flex-end;
    min-height: 26px;
    @include box_shadow(1);

    .filter-type {
        margin: 0 10px;
    }
}

.work-not-found {
    color: $main-color;
    font-weight: 300;
    font-size: 1.2em;
    text-align: center;
}
