/* General svg icons */
.svg-icon {
    margin: 0 10px;
    width: 28px;
    height: 28px;
    vertical-align: middle;

    &.small {
        width: 20px!important;
        height: 20px!important;
        margin: 0!important;
        vertical-align: bottom!important;
    }
}

/* For icons that are in a work list, mainly */
.list-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Light bg icons */
.twitter path,
.github path,
.telegram path,
.email path, 
.link path,
.menu-down path {
    -webkit-transition: fill .2s ease-in;
    transition: fill .2s ease-in;
    fill: $main-color;
}

/* Dark bg icons */
.arrow-back path,
.earth path,
.account path,
.array path {
    -webkit-transition: fill .2s ease-in;
    transition: fill .2s ease-in;
    fill: lighten($main-color, 50%);
}

.home-link{
    margin-right: auto;
}

/* Hover settings */
.twitter:hover path{
    fill: $twitter;
}

.github:hover path{
    fill: $github;
}

.telegram:hover path{
    fill: $telegram;
}
