.lang-button {
    padding: 15px;
    color: lighten($main-color, 5%);
    margin: 0 5px;
    text-transform: capitalize;
    transition: background-color .5s ease;

    &:not(:last-of-type){
        border-bottom: 1px solid transparentize($main-color, .8);
    }
    
    span {
        color: $accent-color;
        padding: 2px 5px;
        background: darken(#fff, 5%);
        font-size: .8em;
    }
}
