.large-button {
    p {
        text-align: center;
        font-size: .85em;
    }
    
    min-width: 155px;
    white-space: nowrap;
    padding: 8px 32px;
    @include box_shadow(2);
    background-color: $accent-color;
    color: #fff;
    border-radius: 2px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    
    &:hover {
        @include box_shadow(3);
    }

    &.inline {
        display: inline-block;
        padding: 4px 12px;
        min-width: 5px;
        p {
            font-size: .9em!important;
        }
    }

    &.transparent {
        background: transparentize(lighten($main-color, 50%), .9);

        &:hover {
            background: transparentize(lighten($main-color, 50%), .8);
        }
    }
}
