.large-button {
    p {
        text-align: center;
        font-size: .85em;
    }
    
    min-width: 155px;
    white-space: nowrap;
    padding: 8px 32px;
    @include box_shadow(2);
    background-color: $accent-color;
    color: #fff;
    border-radius: 2px;
    transition: box-shadow .2s ease;
    
    &:hover {
        @include box_shadow(3);
    }
}
