.list-item {
    position: relative;
    display: block;
    width: calc(100% - 30px);
    padding: 15px;
    color: lighten($main-color, 5%);
    
    &:not(:last-of-type){
        border-bottom: 1px solid transparentize($main-color, .8);
    }

    span {
        text-transform: capitalize;
        color: $main-color;
        border-radius: 2px;
        padding: 5px 8px;
        background: darken(#fff, 5%);
        font-size: .9em;
    }
}
