.list-item {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 12px;
    color: lighten($main-color, 5%);

    &:not(:last-of-type){
        border-bottom: 1px solid transparentize($main-color, .8);
    }

    span {
        text-transform: capitalize;
        color: $main-color;
        border-radius: 2px;
        padding: 5px 8px;
        background: darken(#fff, 5%);
        font-size: .9em;
    }

    .view-more-link {
        margin: 0 5px;
        position: absolute;
        right: 0;
        padding: 8px;
        border-radius: 50%;
        top: calc(50% - 20px);
        transition: all .5s ease;

        &:hover {
             background: transparentize(darken($main-color, .2%), .85);
        }
    }
}
